.swiper-button-next,
.swiper-button-prev {
    background-color: var(--secondary-text-color);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #222222;
    border: 1px #0000001A solid;
    box-shadow: 0 0 8px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    padding: 13px;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    background-color: var(--main-color);
}

.swiper-button-next svg,
.swiper-button-prev svg {
    color: #222222;
}