@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

:root {
    /* Background Color */
    --main-color: #F5F5F5;
    --secondary-color: #3B2F4A;  
    --nav-bg: #FFFFFF33;      
    --btn-color: #D9176C;
    --btn-color-light: #D9176C1A;         
    --gradient-color: #00000099; 

    /* Text Color */
    --main-text-color: #222222;
    --main-text-color-light: #22222280;   
    --secondary-text-color: #FFFFFF;  
    --first-text-yellow-color: #EAA451; 
    --second-text-yellow-color: #EBC305; 

    /* Font Weight */
    --header-font-weight: 700;
    --text-font-weight: 600;

    /* Radius */
    --btn-radius: 8px;
    --section-radius: 20px;
}

body {
    font-family: "Open Sans", "Inter";
}

.Custom-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* sm */
@media (min-width: 576px) {
  .Custom-container {
    max-width: 540px;
  }
}

/* md */
@media (min-width: 768px) {
  .Custom-container {
    max-width: 720px;
  }
}

/* lg */
@media (min-width: 992px) {
  .Custom-container {
    max-width: 960px;
  }
}

/* xl */
@media (min-width: 1200px) {
  .Custom-container {
    max-width: 1140px;
  }
}

/* xxl */
@media (min-width: 1400px) {
  .Custom-container {
    max-width: 1320px;
  }
}

